@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Tron';
    src: url('/fonts/Tron-JOAa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
